@import 'tailwindcss';

@theme {
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;

  --color-primary-100: #EAD3FE;
  --color-primary-300: #ce86fd;
  --color-primary-500: #b611f5;

  --color-neutral-300: #e1e1e1;
  --color-neutral-400: #cacaca;
  --color-neutral-500: #727272;
  --color-neutral-600: #4b4b4b;
  --color-neutral-800: #000000;

  --shadow-1: 0px 1px 1px 0px rgba(0, 0, 0, 0.02), 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
}

:root {
  --sat: env(safe-area-inset-top);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
  --sar: env(safe-area-inset-right);
}
