@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, and Opera */
    }
  }

  scrollbar-mobile-hide {
    @media (pointer: coarse) {
      -ms-overflow-style: none;
      scrollbar-width: none;
      
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .scrollbar-pc-thin {
    @media (pointer: fine) {
      scrollbar-width: thin;
      
      &::-webkit-scrollbar {
        height: 0.5rem;
        width: 0.5rem;
      }
      
      &::-webkit-scrollbar-thumb {
        border-radius: 999px;
        background-color: #e1e1e1;
      }
      
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
    }
  }

  .scrollbar-responsive {
    @media (pointer: coarse) {
      -ms-overflow-style: none;
      scrollbar-width: none;
      
      &::-webkit-scrollbar {
        display: none;
      }
    }
    
    @media (pointer: fine) {
      scrollbar-width: thin;
      
      &::-webkit-scrollbar {
        height: 0.5rem;
        width: 0.5rem;
      }
      
      &::-webkit-scrollbar-thumb {
        border-radius: 999px;
        background-color: #e1e1e1;
      }
      
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
    }
  }
}