.toast-root {
  width: 300px;
  min-height: 30px;
  border-radius: 8px;
  padding: 8px 12px 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  background: var(--toast-bg);
  color: var(--toast-text);
}

.toast-content {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  gap: 12px;
}

.toast-icon {
  flex-shrink: 0;
  color: var(--toast-icon);
}

.toast-text {
  white-space: normal;
  word-break: break-word;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
}

.toast-close {
  padding: 4px;
  border-radius: 6px;
  background: none;
  border: none;
  cursor: pointer;
}

.toast-action {
  height: 32px;
  padding: 6px 17px 7px 17px;
  border-radius: 50px;
  background: var(--serok-gray-700);
  color: var(--serok-gray-0);
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  gap: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.toast-actions {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}
