@layer serok {
  :root {
    --serok-gray-0: #ffffff;
    --serok-gray-50: #fafafa;
    --serok-gray-100: #f5f5f5;
    --serok-gray-200: #eeeeee;
    --serok-gray-300: #e6e6e6;
    --serok-gray-400: #d9d9d9;
    --serok-gray-500: #a8a8a8;
    --serok-gray-600: #6f6f6f;
    --serok-gray-700: #4b4b4b;
    --serok-gray-800: #323232;
    --serok-gray-900: #1f1f1f;
    --serok-red-100: #fbeeee;
    --serok-red-200: #f5d1d1;
    --serok-red-300: #f0b7b7;
    --serok-red-400: #e99696;
    --serok-red-500: #e37878;
    --serok-red-600: #de5f5f;
    --serok-red-700: #d94a4a;
    --serok-red-800: #d63939;
    --serok-red-900: #c92a2a;
    --serok-red-1000: #b12525;
    --serok-red-1100: #982020;
    --serok-red-1200: #871c1c;
    --serok-red-1300: #721818;
    --serok-red-1400: #541212;
    --serok-orange-100: #fef2d1;
    --serok-orange-200: #fee1a4;
    --serok-orange-300: #fed98b;
    --serok-orange-400: #fccc77;
    --serok-orange-500: #fab655;
    --serok-orange-600: #f9ae43;
    --serok-orange-700: #f7941e;
    --serok-orange-800: #d47415;
    --serok-orange-900: #b1580f;
    --serok-orange-1000: #a4470d;
    --serok-orange-1100: #8f3f09;
    --serok-orange-1200: #7d3708;
    --serok-orange-1300: #682c06;
    --serok-orange-1400: #532004;
    --serok-yellow-100: #fdf3e2;
    --serok-yellow-200: #fbeacc;
    --serok-yellow-300: #f9dfb3;
    --serok-yellow-400: #f6d38f;
    --serok-yellow-500: #f3c873;
    --serok-yellow-600: #efba58;
    --serok-yellow-700: #edb345;
    --serok-yellow-800: #e8a62a;
    --serok-yellow-900: #dd9616;
    --serok-yellow-1000: #c38312;
    --serok-yellow-1100: #b07911;
    --serok-yellow-1200: #99690f;
    --serok-yellow-1300: #5e4209;
    --serok-yellow-1400: #3d2a06;
    --serok-chartreuse-100: #dbfc6e;
    --serok-chartreuse-200: #cbf443;
    --serok-chartreuse-300: #bce92a;
    --serok-chartreuse-400: #aad816;
    --serok-chartreuse-500: #98c50a;
    --serok-chartreuse-600: #87b103;
    --serok-chartreuse-700: #769c00;
    --serok-chartreuse-800: #678800;
    --serok-chartreuse-900: #577400;
    --serok-chartreuse-1000: #486000;
    --serok-chartreuse-1100: #3a4d00;
    --serok-chartreuse-1200: #2c3b00;
    --serok-chartreuse-1300: #212c00;
    --serok-chartreuse-1400: #181f00;
    --serok-celery-100: #cdfcbf;
    --serok-celery-200: #aef69d;
    --serok-celery-300: #96ee85;
    --serok-celery-400: #72e06a;
    --serok-celery-500: #4ecf50;
    --serok-celery-600: #27bb36;
    --serok-celery-700: #07a721;
    --serok-celery-800: #009112;
    --serok-celery-900: #007c0f;
    --serok-celery-1000: #00670f;
    --serok-celery-1100: #00530d;
    --serok-celery-1200: #00400a;
    --serok-celery-1300: #003007;
    --serok-celery-1400: #002205;
    --serok-green-100: #e5f4ec;
    --serok-green-200: #d0ebdd;
    --serok-green-300: #bae9d1;
    --serok-green-400: #a8e3c6;
    --serok-green-500: #93dcb8;
    --serok-green-600: #50ce83;
    --serok-green-700: #36bf6e;
    --serok-green-800: #2da05c;
    --serok-green-900: #288f52;
    --serok-green-1000: #228149;
    --serok-green-1100: #1f7743;
    --serok-green-1200: #196137;
    --serok-green-1300: #15512e;
    --serok-green-1400: #0f3920;
    --serok-cyan-100: #c5f8ff;
    --serok-cyan-200: #a4f0ff;
    --serok-cyan-300: #88e7fa;
    --serok-cyan-400: #60d8f3;
    --serok-cyan-500: #33c5e8;
    --serok-cyan-600: #12b0da;
    --serok-cyan-700: #019cc8;
    --serok-cyan-800: #0086b4;
    --serok-cyan-900: #00719f;
    --serok-cyan-1000: #005d89;
    --serok-cyan-1100: #004a73;
    --serok-cyan-1200: #00395d;
    --serok-cyan-1300: #002a46;
    --serok-cyan-1400: #001e33;
    --serok-seafoam-100: #cef7f3;
    --serok-seafoam-200: #aaf1ea;
    --serok-seafoam-300: #8ce9e2;
    --serok-seafoam-400: #65dad2;
    --serok-seafoam-500: #3fc9c1;
    --serok-seafoam-600: #0fb5ae;
    --serok-seafoam-700: #00a19a;
    --serok-seafoam-800: #008c87;
    --serok-seafoam-900: #007772;
    --serok-seafoam-1000: #00635f;
    --serok-seafoam-1100: #0c4f4c;
    --serok-seafoam-1200: #123c3a;
    --serok-seafoam-1300: #122c2b;
    --serok-seafoam-1400: #0f1f1e;
    --serok-blue-100: #f8fcff;
    --serok-blue-200: #d6eeff;
    --serok-blue-300: #cce5ff;
    --serok-blue-400: #bdddff;
    --serok-blue-500: #a8d2ff;
    --serok-blue-600: #75b7ff;
    --serok-blue-700: #3394ff;
    --serok-blue-800: #1a87ff;
    --serok-blue-900: #195be6;
    --serok-blue-1000: #1a55cf;
    --serok-blue-1100: #1b4fbb;
    --serok-blue-1200: #1947a9;
    --serok-blue-1300: #143885;
    --serok-blue-1400: #0d2559;
    --serok-indigo-100: #edeeff;
    --serok-indigo-200: #e0e2ff;
    --serok-indigo-300: #d3d5ff;
    --serok-indigo-400: #c1c4ff;
    --serok-indigo-500: #acafff;
    --serok-indigo-600: #9599ff;
    --serok-indigo-700: #7e84fc;
    --serok-indigo-800: #686df4;
    --serok-indigo-900: #5258e4;
    --serok-indigo-1000: #4046ca;
    --serok-indigo-1100: #3236a8;
    --serok-indigo-1200: #262986;
    --serok-indigo-1300: #1b1e64;
    --serok-indigo-1400: #141648;
    --serok-purple-100: #f5ebff;
    --serok-purple-200: #ddb1fe;
    --serok-purple-300: #d39afe;
    --serok-purple-400: #ce86fd;
    --serok-purple-500: #c969fc;
    --serok-purple-600: #c358fc;
    --serok-purple-700: #b611f5;
    --serok-purple-800: #980ac9;
    --serok-purple-900: #7d08a4;
    --serok-purple-1000: #6f09a2;
    --serok-purple-1100: #600481;
    --serok-purple-1200: #550472;
    --serok-purple-1300: #44025e;
    --serok-purple-1400: #2f0141;
    --serok-fuchsia-100: #ffe9fc;
    --serok-fuchsia-200: #ffdafa;
    --serok-fuchsia-300: #fec7f8;
    --serok-fuchsia-400: #fbaef6;
    --serok-fuchsia-500: #f592f3;
    --serok-fuchsia-600: #ed74ed;
    --serok-fuchsia-700: #e055e2;
    --serok-fuchsia-800: #cd3ace;
    --serok-fuchsia-900: #b622b7;
    --serok-fuchsia-1000: #9d039e;
    --serok-fuchsia-1100: #800081;
    --serok-fuchsia-1200: #640664;
    --serok-fuchsia-1300: #470e46;
    --serok-fuchsia-1400: #320d31;
    --serok-magenta-100: #ffeaf1;
    --serok-magenta-200: #ffdce8;
    --serok-magenta-300: #ffcadd;
    --serok-magenta-400: #ffb2ce;
    --serok-magenta-500: #ff95bd;
    --serok-magenta-600: #fa77aa;
    --serok-magenta-700: #ef5a98;
    --serok-magenta-800: #de3d82;
    --serok-magenta-900: #c82269;
    --serok-magenta-1000: #ad0955;
    --serok-magenta-1100: #8e0045;
    --serok-magenta-1200: #700037;
    --serok-magenta-1300: #54032a;
    --serok-magenta-1400: #3c061d;
  }
}