@import "./colors.css";

:root .serok-provider.serok-provider {
  & * {
    font-family: var(--spectrum-sans-font-family-stack);
    --spectrum-sans-font-family-stack: "Pretendard Variable",
      "Pretendard", 'Source Sans Pro', -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Trebuchet MS',
      'Lucida Grande', sans-serif;

    &:focus-visible {
      outline: 2px solid var(--spectrum-accent-color-800);
    }
  }

  --white: #ffffff;
  --black: #000000;

  --spectrum-black: var(--black);
  --spectrum-white: var(--white);
  --spectrum-global-color-gray-50: var(--serok-gray-50);
  --spectrum-global-color-gray-100: var(--serok-gray-100);
  --spectrum-global-color-gray-200: var(--serok-gray-200);
  --spectrum-global-color-gray-300: var(--serok-gray-300);
  --spectrum-global-color-gray-400: var(--serok-gray-400);
  --spectrum-global-color-gray-500: var(--serok-gray-500);
  --spectrum-global-color-gray-600: var(--serok-gray-600);
  --spectrum-global-color-gray-700: var(--serok-gray-700);
  --spectrum-global-color-gray-800: var(--serok-gray-800);
  --spectrum-global-color-gray-900: var(--serok-gray-900);
  --spectrum-accent-color-100: var(--serok-purple-100);
  --spectrum-accent-color-200: var(--serok-purple-200);
  --spectrum-accent-color-300: var(--serok-purple-300);
  --spectrum-accent-color-400: var(--serok-purple-400);
  --spectrum-accent-color-500: var(--serok-purple-500);
  --spectrum-accent-color-600: var(--serok-purple-600);
  --spectrum-accent-color-700: var(--serok-purple-700);
  --spectrum-accent-color-800: var(--serok-purple-800);
  --spectrum-accent-color-900: var(--serok-purple-900);
  --spectrum-accent-color-1000: var(--serok-purple-1000);
  --spectrum-accent-color-1100: var(--serok-purple-1100);
  --spectrum-accent-color-1200: var(--serok-purple-1200);
  --spectrum-accent-color-1300: var(--serok-purple-1300);
  --spectrum-accent-color-1400: var(--serok-purple-1400);
  --spectrum-accent-color-1500: var(--serok-purple-1500);
  --spectrum-accent-color-1600: var(--serok-purple-1600);
  --spectrum-secondary-color-100: var(--serok-yellow-100);
  --spectrum-secondary-color-200: var(--serok-yellow-200);
  --spectrum-secondary-color-300: var(--serok-yellow-300);
  --spectrum-secondary-color-400: var(--serok-yellow-400);
  --spectrum-secondary-color-500: var(--serok-yellow-500);
  --spectrum-secondary-color-600: var(--serok-yellow-600);
  --spectrum-secondary-color-700: var(--serok-yellow-700);
  --spectrum-secondary-color-800: var(--serok-yellow-800);
  --spectrum-secondary-color-900: var(--serok-yellow-900);
  --spectrum-secondary-color-1000: var(--serok-yellow-1000);
  --spectrum-secondary-1100: var(--serok-yellow-1100);
  --spectrum-secondary-1200: var(--serok-yellow-1200);
  --spectrum-secondary-1300: var(--serok-yellow-1300);
  --spectrum-secondary-1400: var(--serok-yellow-1400);
  --spectrum-secondary-1500: var(--serok-yellow-1500);
  --spectrum-secondary-1600: var(--serok-yellow-1600);

  --spectrum-negative-color-100: var(--serok-red-100);
  --spectrum-negative-color-200: var(--serok-red-200);
  --spectrum-negative-color-300: var(--serok-red-300);
  --spectrum-negative-color-400: var(--serok-red-400);
  --spectrum-negative-color-500: var(--serok-red-500);
  --spectrum-negative-color-600: var(--serok-red-600);
  --spectrum-negative-color-700: var(--serok-red-700);
  --spectrum-negative-color-800: var(--serok-red-800);
  --spectrum-negative-color-900: var(--serok-red-900);
  --spectrum-negative-color-1000: var(--serok-red-1000);
  --spectrum-negative-color-1100: var(--serok-red-1100);
  --spectrum-negative-color-1200: var(--serok-red-1200);
  --spectrum-negative-color-1300: var(--serok-red-1300);
  --spectrum-negative-color-1400: var(--serok-red-1400);
  --spectrum-negative-color-1500: var(--serok-red-1500);
  --spectrum-negative-color-1600: var(--serok-red-1600);

  --spectrum-red-100: var(--serok-red-100);
  --spectrum-red-200: var(--serok-red-200);
  --spectrum-red-300: var(--serok-red-300);
  --spectrum-red-400: var(--serok-red-400);
  --spectrum-red-500: var(--serok-red-500);
  --spectrum-red-600: var(--serok-red-600);
  --spectrum-red-700: var(--serok-red-700);
  --spectrum-red-800: var(--serok-red-800);
  --spectrum-red-900: var(--serok-red-900);
  --spectrum-red-1000: var(--serok-red-1000);
  --spectrum-red-1100: var(--serok-red-1100);
  --spectrum-red-1200: var(--serok-red-1200);
  --spectrum-red-1300: var(--serok-red-1300);
  --spectrum-red-1400: var(--serok-red-1400);
  --spectrum-red-1500: var(--serok-red-1500);
  --spectrum-red-1600: var(--serok-red-1600);


  --spectrum-disabled-background-color: var(--spectrum-gray-100);
  --spectrum-accent-background-color-default: var(--spectrum-accent-color-800);
  --spectrum-accent-background-color-hover: var(--spectrum-accent-color-900);
  --spectrum-accent-background-color-down: var(--spectrum-accent-color-900);
  --spectrum-accent-background-color-key-focus: var(--spectrum-accent-color-900);
  --spectrum-accent-content-color-default: var(--spectrum-accent-color-800);
  --spectrum-accent-content-color-hover: var(--spectrum-accent-color-900);
  --spectrum-accent-content-color-down: var(--spectrum-accent-color-900);
  --spectrum-accent-content-color-key-focus: var(--spectrum-accent-color-900);

  --spectrum-secondary-background-color-default: var(--spectrum-secondary-color-800);
  --spectrum-secondary-background-color-hover: var(--spectrum-secondary-color-900);
  --spectrum-secondary-background-color-down: var(--spectrum-secondary-color-900);
  --spectrum-secondary-background-color-key-focus: var(--spectrum-secondary-color-900);
  --spectrum-secondary-content-color-default: var(--spectrum-secondary-color-800);
  --spectrum-secondary-content-color-hover: var(--spectrum-secondary-color-900);
  --spectrum-secondary-content-color-down: var(--spectrum-secondary-color-900);
  --spectrum-secondary-content-color-key-focus: var(--spectrum-secondary-color-900);

  --spectrum-negative-background-color-default: var(--spectrum-negative-color-700);
  --spectrum-negative-background-color-hover: var(--spectrum-negative-color-800);
  --spectrum-negative-background-color-down: var(--spectrum-negative-color-800);
  --spectrum-negative-background-color-key-focus: var(--spectrum-negative-color-800);

  --spectrum-semantic-negative-color-background: var(--spectrum-negative-background-color-default);
  --spectrum-semantic-negative-color-default: var(--serok-red-600);
  --spectrum-semantic-negative-color-state-hover: var(--serok-red-800);
  --spectrum-semantic-negative-color-dark: var(--serok-red-800);
  --spectrum-semantic-negative-color-border: var(--serok-red-600);
  --spectrum-semantic-negative-color-icon: var(--spectrum-negative-visual-color);
  --spectrum-semantic-negative-color-status: var(--spectrum-negative-visual-color);
  --spectrum-semantic-negative-color-text-large: var(--serok-red-600);
  --spectrum-semantic-negative-color-text-small: var(--serok-red-600);
  --spectrum-semantic-negative-color-state-down: var(--serok-red-800);
  --spectrum-semantic-negative-color-state-focus: var(--serok-red-800);
  --spectrum-semantic-notice-color-background: var(--spectrum-global-color-static-orange-600, #da7b11);
  --spectrum-semantic-notice-color-default: var(--spectrum-orange-700);
  --spectrum-semantic-notice-color-dark: var(--spectrum-orange-800);
  --spectrum-semantic-notice-color-border: var(--spectrum-orange-600);
  --spectrum-semantic-notice-color-icon: var(--spectrum-notice-visual-color);
  --spectrum-semantic-notice-color-status: var(--spectrum-notice-visual-color);
  --spectrum-semantic-notice-color-text-large: var(--spectrum-orange-700);
  --spectrum-semantic-notice-color-text-small: var(--spectrum-orange-00);
  --spectrum-semantic-notice-color-state-down: var(--spectrum-orange-900);
  --spectrum-semantic-notice-color-state-focus: var(--spectrum-orange-600);
  --spectrum-semantic-positive-color-background: var(--spectrum-positive-background-color-default);
  --spectrum-semantic-positive-color-default: var(--serok-green-600);
  --spectrum-semantic-positive-color-dark: var(--serok-green-800);
  --spectrum-semantic-positive-color-border: var(--serok-green-600);
  --spectrum-semantic-positive-color-icon: var(--spectrum-positive-visual-color);
  --spectrum-semantic-positive-color-status: var(--spectrum-positive-visual-color);
  --spectrum-semantic-positive-color-text-large: var(--serok-green-600);
  --spectrum-semantic-positive-color-text-small: var(--serok-green-600);
  --spectrum-semantic-positive-color-state-down: var(--serok-green-800);
  --spectrum-semantic-positive-color-state-focus: var(--serok-green-700);
  --spectrum-semantic-informative-color-background: var(--spectrum-informative-background-color-default);
  --spectrum-semantic-informative-color-default: var(--serok-blue-600);
  --spectrum-semantic-informative-color-dark: var(--serok-blue-800);
  --spectrum-semantic-informative-color-border: var(--serok-blue-600);
  --spectrum-semantic-informative-color-icon: var(--spectrum-informative-visual-color);
  --spectrum-semantic-informative-color-status: var(--spectrum-informative-visual-color);
  --spectrum-semantic-informative-color-text-large: var(--serok-blue-600);
  --spectrum-semantic-informative-color-text-small: var(--serok-green-600);
  --spectrum-semantic-informative-color-state-down: var(--serok-green-800);
  --spectrum-semantic-informative-color-state-focus: var(--serok-green-700);
  --spectrum-semantic-cta-color-background-default: var(--spectrum-accent-background-color-default);
  --spectrum-semantic-cta-color-background-hover: var(--spectrum-accent-background-color-hover);
  --spectrum-semantic-cta-color-background-down: var(--spectrum-accent-background-color-down);
  --spectrum-semantic-cta-color-background-key-focus: var(--spectrum-accent-background-color-key-focus);
  --spectrum-semantic-background-color-key-focus: var(--spectrum-global-color-static-blue-600);
  --spectrum-semantic-gray-color-background: var(--spectrum-gray-subdued-background-color-default);
}
